@model IEnumerable<petstore.Models.DonHang>

@{
    ViewBag.Title = "DoanhThuNgay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@if (Session["Staff"] != null)
{
    <div class="p-3 text-danger">Bạn không có quyền truy cập trang web này!!!</div>
}
else
{

<div class="col-lg-12 padding-8 ViewPrint">
    <h3>Doanh thu theo Ngày @ViewBag.Ngay<span> Tháng @ViewBag.Thang</span> <span> Năm @ViewBag.Nam</span></h3>

    <h3>Tổng số lượng sản phẩm bán được trong ngày: @ViewBag.DoanhThuNgayCount</h3>

    <h2>Tổng doanh thu trong ngày: @String.Format("{0:N0}", @ViewBag.DoanhThuNgay) vnđ</h2>

    <div class="body fix-width scroll-inner">
        <table class="table table-striped">
            <tr>
                <th>
                    mã kh
                </th>
                <th>
                    thanh toán
                </th>
                <th>
                    Trạng thái
                </th>
                <th>
                    Ngày đặt
                </th>
                <th>
                    Ngày giao
                </th>

                <th></th>
            </tr>

            @foreach (var item in ViewBag.ListCountDTN)
            {
                <tr>
                    <td>

                        @item.donhang.makh
                    </td>
                    <td>
                        @item.donhang.thanhtoan
                    </td>
                    <td>
                        <div style="color: green;">@item.donhang.giaohang</div>
                    </td>
                    <td>
                        @item.donhang.ngaydat
                    </td>
                    <td>
                        @item.donhang.ngaygiao
                    </td>

                    <td>
                        <a href="@Url.Action("DetailsCTDH", "QLDonHang", new { id = @item.donhang.madon })">Chi tiết đơn hàng</a> |
                        <a href="@Url.Action("Edit", "QLDonHang", new { id = @item.donhang.madon })">Sửa</a> |
                        <a href="@Url.Action("Delete", "QLDonHang", new { id = @item.donhang.madon })">Xóa</a>
                    </td>
                </tr>

            }

        </table>
    </div>
</div>


    <div class="body padding-8" style="border: none; box-shadow: none; border-radius: none; margin-top: 10px;">
        <div>
            <button id="Print" class="btn btn-primary">Print</button>
        </div>

        <div class="mt-2">
            @Html.ActionLink("Quay lại", "DoanhThu")
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/admin/js/printThis.js"></script>


    <script>
        jQuery(document).ready(function ($) {
            $('#Print').on("click", function () {
                $('.ViewPrint').printThis({
                    debug: false,               // show the iframe for debugging
                    importCSS: true,            // import parent page css
                    importStyle: false,         // import style tags
                    printContainer: true,       // print outer container/$.selector
                    loadCSS: "",                // path to additional css file - use an array [] for multiple
                    pageTitle: "",              // add title to print page
                    removeInline: false,        // remove inline styles from print elements
                    removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
                    printDelay: 333,            // variable print delay
                    header: null,               // prefix to html
                    footer: null,               // postfix to html
                    base: false,                // preserve the BASE tag or accept a string for the URL
                    formValues: true,           // preserve input/form values
                    canvas: false,              // copy canvas content
                    doctypeString: '...',       // enter a different doctype for older markup
                    removeScripts: false,       // remove script tags from print content
                    copyTagClasses: false,      // copy classes from the html & body tag
                    beforePrintEvent: null,     // function for printEvent in iframe
                    beforePrint: null,          // function called before iframe is filled
                    afterPrint: null            // function called before iframe is removed
                });
            });
        });
    </script>

}