@model petstore.Models.DonHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-lg-12 padding-8">
    <h2>Xóa đơn hàng</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.thanhtoan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.thanhtoan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.giaohang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.giaohang)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ngaydat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ngaydat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ngaygiao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ngaygiao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.makh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.makh)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>

</div>

